:root {
  --header-height: 60px;
  --transition-duration: 250ms;
}

body {
  margin: 0;
  color: black;
  max-height: 100vh;
  height: 100%;
}

.page-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.header {
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  height: var(--header-height);
  gap: 1rem;
  padding: 0 0.5rem;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  color: #777;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

.dropdown.active > .link,
.link:hover {
  color: black;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  color: black;
  left: 0;
  top: calc(100% + 0.35rem);
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.information-grid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 2rem;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.practice-dropdown {
  position: relative;
  height: 100%;
}

.practice-dropdown .dropdown-button {
  all: unset;
  color: #656565;
}

.practice-dropdown .dropdown-button:hover,
.practice-dropdown .products-header,
.practice-dropdown .item-list a,
.practice-dropdown.active .dropdown-button {
  color: #000;
}

.practice-dropdown .practice-dropdown-menu {
  position: absolute;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 0.5rem;
  pointer-events: none;
  top: 40px;
  background-color: #fff;
  opacity: 0;
  transform: translateY(-20px);
  transition: transform var(--transition-duration) ease-in-out,
    opacity var(--transition-duration) ease-in-out;
}

.practice-dropdown.active .practice-dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.practice-dropdown.active .item-list a {
  cursor: pointer;
  pointer-events: auto;
}

.practice-dropdown.active .item-list a:hover {
  color: #888;
}
