.navbar {
  width: 100%;
  height: var(--nav-size);
  background-color: #000;
}

.navbar .navbar-nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .dropdown {
  background-color: var(--bg-color);
  position: absolute;
  top: calc(var(--nav-size) - 2px);
  width: 300px;
  padding: 1rem;
  border-radius: var(--border-radius);
  transform: translateX(-45%);
}

.navbar .dropdown ul {
  background-color: #000;
  transition: transform var(--transition-speed);
}

.navbar .dropdown ul.primary-menu {
  transform: translateX(-110%);
}

.navbar .dropdown ul.primary-menu.active {
  transform: translateX(0);
}

.navbar .menu-item {
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: background-color var(--transition-speed);
}

.navbar .menu-item:hover {
  background-color: var(--bg-accent);
}
