.navbar {
  width: 100%;
  height: var(--nav-size);
  background-color: #000;
}

.navbar .navbar-nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .dropdown {
  --scale: 0;
  background-color: var(--bg-color);
  position: absolute;
  top: calc(var(--nav-size) - 2px);
  width: 300px;
  border-radius: var(--border-radius);
  right: 45px;
  transform: scale(var(--scale));
  transition: transform var(--transition-speed) ease;
  transform-origin: top right;
}

.navbar .dropdown.active {
  --scale: 1;
  transition: transform var(--transition-speed) ease;
}

.navbar .dropdown ul {
  padding: 1rem;
}

.navbar .dropdown .menu-item {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  transition: background-color var(--transition-speed) ease;
  border-radius: var(--border-radius);
}

.navbar .dropdown .menu-item:hover {
  background-color: var(--bg-accent);
}
