nav {
  height: var(--nav-size);
  background-color: var(--bg-color);
}

.navbar-nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav-item {
  color: var(--text-color);
}

[data-dropdown] {
  position: relative;
}

[data-dropdown] > [data-dropdown-button]:hover,
[data-dropdown].active > [data-dropdown-button] {
  background-color: #fff;
  color: #000;
}

[data-dropdown] > [data-dropdown-button] + [data-dropdown-menu] {
  position: absolute;
  transform: translateY(0);
  padding: 1rem;
  background-color: #fff;
  color: #000;
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.1);
  transition: opacity var(--transition-speed) ease-in-out,
    visibility var(--transition-speed) ease-in-out,
    transform var(--transition-speed) ease-in-out;
  pointer-events: none;
  visibility: 0;
  opacity: 0;
  width: max-content;
}

[data-dropdown].active > [data-dropdown-button] + [data-dropdown-menu] {
  transform: translateY(30%);
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

[data-dropdown-menu] a {
  color: #000;
}
